@model dynamic

@{
    ViewBag.Title = "Lapwing :: Your iOS companion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container">
    <header>
        <img src="~/Content/themes/base/images/logo.png" alt="PKE Meter" id="logo" style="width: 150px;" />
        <h1>Lapwing                     			<a href="#" id="app-store">Available on the iPhone app store</a><br /><strong>Your iOS companion</strong></h1>

    </header>
    
    <aside>
		<a href="#"><img src="~/Content/themes/base/images/hero_front.jpg" alt="iPhone showcasing a screenshot of the PKE METER app." style="width: 400px; display: block;"></a>
	</aside>
		
    <section>
        <h2>Lapwing is an iOS companion app that gives you an insight into your iPhone or iPod Touch. <br/><br />It shows your memory usage, running processes, network connectivity and other vital information.</h2>
			<br/>
        <h2>Features:</h2>
        <ul>
            <li>General Device information</li>
            <li>Disk space usage</li>
            <li>Battery level and status</li>
            <li>Running processes</li>
            <li>Network connectivity</li>
            <li>IP & MAC addresses</li>
            <li>Data sent & received</li>
            <li>Carrier information</li>
            <li>Memory usage & allocation</li>
            <li>CPU architecture</li>
            <li>CPU load</li>
            <li>Help options</li>
        </ul>
        
        <p style="margin: 0 0 10px 90px">Request a feature, ask for support or say 'hello'</p>
        <a href="mailto:fly@lapwing-app.com"><img src="~/Content/themes/base/images/email.png" alt="fly@lapwing-app.com" style="display: inline-block;"></a>
        <a href="https://twitter.com/lapwingapp"><img src="~/Content/themes/base/images/twitter.png" alt="https://twitter.com/lapwingapp" style="display: inline-block;"></a>
        <a href="https://www.facebook.com/LapwingApp"><img src="~/Content/themes/base/images/facebook.png" alt="https://www.facebook.com/LapwingApp" style="display: inline-block;"></a>
    </section>

	
    <footer>
        <p><small>&copy; <a href="mailto:admin@lapwing-app.com">Peter Sbarski</a>. Melbourne. Australia.</small></p>
		</footer>
	</div>